<div class="row">
  <div class="col-sm-2">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of messageItem">
        <!-- <a class="nav-link" routerLink="{{item}}">{{item}}</a> -->
       <a  class="nav-link" routerLink="['/'{{item}}]">{{item}}</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-4">
    <p>Sender</p>
    <ul></ul>
  </div>
  <div class="col-sm-4">
    <p>Subject</p>
    <ul></ul>
  </div>
  <div class="col-sm-2">
    <p>Date</p>
    <ul></ul>
  </div>
</div>
